<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avaliações</title>
  </head>
  <body>
    <%= render 'layouts/header' %>

    <div class="cards-container">
      <% @valor.each do %>
        <div class="card-template" id="card-0" onclick=location.href='1'>
          <div class="info-materia">
            <h3>Nome da matéria</h3>
            <p>semestre</p>
          </div>
          <div class="info-professor">
            <h3>Professor</h3>
          </div>
        </div>
      <% end %>
    </div>
  </body>
</html>