<div class="mx-auto w-11/12 bg-cammar p-5">
  <h3 class="ml-2 mb-3"><%= @pergunta %></h3>
  <div class="pl-5 flex items-center mb-2">
    <input class="" type="radio" name="radioDefault" id="muito-bom" value="muito-bom">
    <label class="m-0 ml-2" for="muito-bom">Muito Bom</label>
  </div>
  <div class="pl-5 flex items-center mb-2">
    <input class="" type="radio" name="radioDefault" id="bom" value="bom">
    <label class="m-0 ml-2" for="bom">Bom</label>
  </div>
  <div class="pl-5 flex items-center mb-2">
    <input class="" type="radio" name="radioDefault" id="satisfatorio" value="satisfatorio">
    <label class="m-0 ml-2" for="satisfatorio">Satisfatório</label>
  </div>
  <div class="pl-5 flex items-center mb-2">
    <input type="radio" name="radioDefault" id="ruim" value="ruim">
    <label class="m-0 ml-2" for="ruim">Ruim</label>
  </div>
  <div class="pl-5 flex items-center mb-2">
    <input type="radio" name="radioDefault" id="pessimo" value="pessimo">
    <label class="m-0 ml-2" for="pessimo">Péssimo</label>
  </div>
</div>