<div class="w-11/12 bg-cammar p-5 mx-auto">
  <h3 class="ml-2 mb-3"><%= @text_pergunta %></h3>
  <div class="ps-5 w-3/5">
    <label for="<%= @text_id %>" class="form-label"></label>
    <input type="text" id="<%= @text_id %>" class="bg-cammar border-0 border-b border-black w-full" placeholder="Digite sua resposta" />
  </div>
</div>